<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Torta</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="cakeId" nzPlaceHolder="Scegli la torta">
        <nz-option *ngFor="let cake of cakes" [nzValue]="cake.id" [nzLabel]="cake.name"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Disponibilità</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="amountErrorTpl">
      <input nz-input formControlName="amount" type="number" [min]="1"/>
      <ng-template #amountErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Inserisci la disponibilità!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>
<div *nzModalFooter>
  <button nz-button nzType="default" (click)="destroyModal()">Annulla</button>
  <button nz-button nzType="primary" [disabled]="!form.valid" (click)="onConfirm()">Aggiungi</button>
</div>
